<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>2072808595-oc8d8hiu0ufe5866cqks77fb3i6luncv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.2072808595-oc8d8hiu0ufe5866cqks77fb3i6luncv</string>
	<key>API_KEY</key>
	<string>AIzaSyDqvU78tot4reJDjrJ32ygZR7TlbJfHx50</string>
	<key>GCM_SENDER_ID</key>
	<string>2072808595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.MarkMikh</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13a-3b8aa</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13a-3b8aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:2072808595:ios:591fc51ca9b6a6ea7e1166</string>
</dict>
</plist>